.cell {
    display: table-cell;
  }
.row {
    display: table-row;
}
.square {
    background: lightgray;
    border: 1px solid black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px; 
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    font-family: "Trebuchet MS"
}
.table {
    clear:both;
    content: "";
    display: table;
}