.cell {
    display: table-cell;
  }
.row {
    display: table-row;
}
.square {
    background: lightblue;
    border: 2px solid white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px; 
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    font-family: "Trebuchet MS";
}
.square:hover {
    filter:brightness(1.2);
}
.table {
    clear:both;
    content: "";
    display: table;
}
.paper {
    padding: 30px;
    margin: 10px; 
}
.container {
    display:flex;
    justify-content: center;
    position: absolute;
    left:50px;
    top:50px;
}